# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Django database
*.sqlite3

# Datasets
backend/modules/*/data/

# Trained ML model artifacts
backend/modules/*/algorithms/artifacts/

# IDE
.vscode/
.idea/